.Home {
    text-align: center;
  }
  

  
.title {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(70px + 2vmin);
    color: black;
  }

  .slogan {
    font-size: 25px;
  }
  .submit-container {
    display:flex; 
    justify-content: center;
    gap: 50px;
    margin: 60px auto;
  }

 .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: #DB909E; 
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}


@media (max-width: 768px){
    .flower {
        display:none;
    }
}
.flower {
    position: absolute;
    width: 350px;
    height: 500px;
    animation: wave 3s infinite ease-in-out;
    
    
}
 .flower-left {
    left: 50px;
    top: 20%;
    
 }

 .flower-right {
    right: 50px;
    top: 20%;
 }



 @keyframes wave {
  0% {
      transform: translateX(0px) rotateZ(0deg);
  }
  25% {
      transform: translateX(10px) rotateZ(2deg);
  }
  50% {
      transform: translateX(0px) rotateZ(0deg);
  }
  75% {
      transform: translateX(-10px) rotateZ(-2deg);
  }
  100% {
      transform: translateX(0px) rotateZ(0deg);
  }
}

